{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Simple product application</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-HzUaiJdCTIY/RL2vDPRGdEQHHahjzwoJJzGUkYjHVzTwXFQ2QN/nVgX7tzoMW3Ov" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'myTestApplication/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
	<div class="page-header">
		<h1><a href="{% url 'myTestApplication:category_list' %}">Simple product application</a></h1>
	</div>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
</body>
</html>