{% extends 'myTestApplication/base.html' %}

{% block content %}

	{% if category %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#id_parentId').attr("disabled", true); 
			$('#parentCategoryId').hide(); 
	});
	</script>
		<h1>Edit category</h1>
	{% else %}
		<h1>New category</h1>
	{% endif %}

	<form method="POST" class="post-form">{% csrf_token %}
		{{ form.as_p }}

	<div id=parentCategoryId style="display: none;">
		{{ form.parentId }}
	</div>
		<button type="submit" class="btn btn-success">Save</button>

		{% if pk %}
			<a href="{% url 'myTestApplication:category_list' pk %}"><button type="button" class="btn btn-default">Cancel</button></a>
		{% elif category.parentId %}
			<a href="{% url 'myTestApplication:category_list' category.parentId.id %}"><button type="button" class="btn btn-default">Cancel</button></a>
		{% else %}
			<a href="{% url 'myTestApplication:category_list' %}"><button type="button" class="btn btn-default">Cancel</button></a>
		{%endif %}

	</form>

{% endblock %}

