{% extends 'myTestApplication/base.html' %}

{% block content %}

	{% if categoryList %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<div class="breadcrumb">
							<li><a href="{% url 'myTestApplication:category_list' %}">category</a></li>
						{% if pk %}
							<li><a href="{% url 'myTestApplication:category_list' category.id %}">{{category.categoryName}}</a></li>
							<span class="separator">/</span>
						{% endif %} 
					</div>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
				<tr>
					<td>
						{% if not pk %}
							<a class="category" href="{% url 'myTestApplication:category_list' category.id %}">{{ category.categoryName }}</a>
						{% else %}
							<a class="category" href="{% url 'myTestApplication:product_list' category.id %}">{{ category.categoryName }}</a>
						{% endif%}

						<a class="glyphicon glyphicon-edit" href="{% url 'myTestApplication:category_edit' pk=category.id %}">edit</a>
						<a class="glyphicon glyphicon-remove" href="{% url 'myTestApplication:category_delete' pk=category.id %}">delete</a>
						{% if not pk %}
							<a class="glyphicon glyphicon-export" href="{% url 'myTestApplication:export_categories' pk=category.id %}">export</a>
							<a class="glyphicon glyphicon-export" href="{% url 'myTestApplication:export_total' pk=category.id %}">total_export</a>
						{% else %}
							<a class="glyphicon glyphicon-export" href="{% url 'myTestApplication:export_products' pk=category.id %}">export</a>
						{% endif%}

						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No records here.</p>
	{% endif %}

	{% if categories.has_other_pages %}
		<ul class="pagination">
			{% if categories.has_previous %}
			  <li><a href="?page={{ categories.previous_page_number }}">&laquo;</a></li>
			{% else %}  
				<li class="disabled"><span>&laquo;</span></li>
			{% endif %}
			{% for i in categories.paginator.page_range %}
				{% if categories.number == i %}
					<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				{% else %}
					<li><a href="?page={{ i }}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}
			{% if categories.has_next %}
				<li><a href="?page={{ categories.next_page_number }}">&raquo;</a></li>
			{% else %}
				<li class="disabled"><span>&raquo;</span></li>
			{% endif %}
		</ul>
	{% endif %}

	{% if pk %}
		<a aling="left" href="{% url 'myTestApplication:category_new' pk %}"><button type="button" class="btn btn-success">Add New Category</button></a>
	{% else%}
		<a aling="left" href="{% url 'myTestApplication:category_new'%}"><button type="button" class="btn btn-success">Add New Category</button></a>
	{% endif%}


{% endblock %}
