{% extends 'myTestApplication/base.html' %}

{% block content %}

		<ol class="breadcrumb">
			<li><a href="{% url 'myTestApplication:category_list' %}">category</a></li>
			<li><a href="{% url 'myTestApplication:category_list' category.parentId.id %}">{{category.parentId}}</a></li>
			<li><a href="{% url 'myTestApplication:product_list' category.id %}">{{category.categoryName}}</a></li>
		</ol>

	{% if productList %}

		<table class="table table-bordered">
			<thead/>
			 <tbody>
					{% for product in products %}
					<tr>
						<td>
							{{ product.productName }}
						</td>
						<td>
							{{ product.productDescription }}
						</td>
						<td>
							<a class="glyphicon glyphicon-edit" href="{% url 'myTestApplication:product_edit' categoryId=product.categoryId.id pk=product.id %}"></a>
							<a class="glyphicon glyphicon-remove" href="{% url 'myTestApplication:product_delete' categoryId=product.categoryId.id pk=product.id %}"></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% if products.has_other_pages %}
		<ul class="pagination">
			{% if products.has_previous %}
				<li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
			{% else %}
				<li class="disabled"><span>&laquo;</span></li>
			{% endif %}
			{% for i in products.paginator.page_range %}
				{% if products.number == i %}
					<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				{% else %}
					<li><a href="?page={{ i }}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}
			{% if products.has_next %}
				<li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
			{% else %}
				<li class="disabled"><span>&raquo;</span></li>
			{% endif %}
		</ul>
	{% endif %}

{% else %}
	<p>No products are available.</p>
{% endif %}

{% if product %}
	<a href="{% url 'myTestApplication:product_edit' categoryId=category.id pk=product.id %}"><button type="button" class="btn btn-success">Add New Product</button></a>
{% else%}
	<a href="{% url 'myTestApplication:product_edit' categoryId=category.id %}"><button type="button" class="btn btn-success">Add New Product</button></a>
{% endif%}

{% endblock %}