{% extends 'myTestApplication/base.html' %}

{% block content %}

	{% if product %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#id_categoryId').attr("disabled", true); 
			$('#categoryValue').hide(); 
		});
	</script>
		<h1>Edit product</h1>
	{% else %}
		<h1>New product</h1>
	{% endif %}

	<form method="POST" class="post-form">{% csrf_token %}
		{{ form.as_p }}
		<div id=categoryValue style="display: none;">
			{{ form.categoryId }}
		</div>
		<button type="submit" class="btn btn-success">Save</button>
		<a href="{% url 'myTestApplication:product_list' categoryId %}"><button type="button" class="btn btn-default">Cancel</button></a>
	</form>

{% endblock %}